{% extends 'base.html' %}
{% block content %}

    <div class="w3-row-padding" style="margin-top:64px">
        <div class=" w3-center">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-light-grey w3-xlarge w3-padding-48"><h3>Delete Credential</h3></li>
                <p>Are you sure you want to delete the credential "{{ object.username }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="w3-button w3-black w3-padding-large">Delete</button>
                    <a href="{% url 'list credentials' %}" class="w3-button w3-black w3-padding-large">No</a>
                </form>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}