{% extends 'base.html' %}
{% block content %}

    <div class="w3-row-padding" style="margin-top:64px">
        <div class=" w3-center">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-light-grey w3-xlarge w3-padding-48"><h3>Create Credentials</h3></li>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        {% if field.name == 'temp_password' and generated_password %}
                            {{ field.label_tag }} <br>
                            <input type="password" name="{{ field.name }}" value="{{ field.value|default:generated_password }}">
                        {% else %}
                            {{ field.label_tag }} <br>
                            {{ field }}
                        {% endif %}
                        </p>
                    {% endfor %}
                    <button class="w3-button w3-black w3-padding-large">Create</button>
                </form>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
