{% extends 'base.html' %}

{% block content %}


  <div class="w3-row-padding" style="margin-top:64px">
    <div class=" w3-center">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-light-grey w3-xlarge w3-padding-48"><h3>Profile Details</h3></li>
          {% if object.profile.first_name and object.profile.last_name %}
        <li class="w3-padding-16"><b>Name:</b> {{ object.profile.first_name }} {{ object.profile.last_name }}</li>
          {% elif object.profile.first_name %}
        <li class="w3-padding-16"><b>Name:</b> {{ object.profile.first_name }}</li>
          {% elif object.profile.last_name %}
        <li class="w3-padding-16"><b>Name:</b> {{ object.profile.last_name }}</li>
          {% endif %}
        <li class="w3-padding-16"><b>Email:</b> {{ object.email }}</li>
        <li class="w3-padding-16"><b>Last Login:</b> {{ object.last_login }}</li>

        <li class="w3-light-grey w3-padding-24">

          <button class="w3-button w3-black w3-padding-large">Edit</button>
            <button class="w3-button w3-black w3-padding-large">Delete</button>
        </li>
      </ul>
    </div>
  </div>




{% endblock %}